.decryption{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5%;
}
.decryption .title{
    color: white;
}
.decryption .dec_sug{
    color: chartreuse;
    font-size: 1.5em;
}
.decryption .to_dec{
    background-color: black;
    color: chartreuse;
    font-size: 1.2em;
    width: 60%;
    height: 30vh;
}
.decryption .dec_result{
    color: chartreuse;
    font-size: 1.5em;
}
.decryption .decrypted{
    background-color: black;
    color: crimson;
    font-size: 1.2em;
    width: 60%;
    height: 30vh;
}
.decryption .dec_button{
    background-color: black;
    color: chartreuse;
    border: 2px solid crimson;
}