.encryption{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 5%;
}
.encryption .title{
    color: white;
}
.encryption .enc_sug{
    color: chartreuse;
    font-size: 1.5em;
}
.encryption .to_enc{
    background-color: black;
    color: chartreuse;
    font-size: 1.2em;
    width: 60%;
    height: 28vh;
}
.encryption .enc_result{
    color: chartreuse;
    font-size: 1.5em;
}
.encryption .encrypted{
    background-color: black;
    color: crimson;
    font-size: 1.2em;
    width: 60%;
    height: 28vh;
}
.encryption .enc_button{
    background-color: crimson;
    color: black;
    border: 2px solid black;
}