.homecontent{
    width: 100%;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.homecontent .greeting{
    padding: 1em;
    color: orangered;
    text-shadow: 1px 1px 1px red;
}
.homecontent .function{
    color: yellow;
}