/* chartreuse
crimson */
.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(102, 102, 102, 0.582);
    padding: .7em;
    position: fixed;
    height: auto;
    right: 4.167%;
    left: 4.167%;
} 
.nav__logo{
    font-size: 1.8em;
}
.nav__menu{
    font-size: 1.5em;
}
a{
    text-decoration: none;
    color:chartreuse ;
    padding: .5em;
}
a:hover{
    background-color: black;
    color: crimson;
}